<div class="page-wrapper">
    <div class="page-area">
            <div class="entry-content">
                <%= render partial: 'home/shared/hero_banner' %>

                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-9c616b1 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="9c616b1" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bd26c30"
                                data-id="bd26c30" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-ea318c5 elementor-widget elementor-widget-Atar_Choose_Two"
                                        data-id="ea318c5" data-element_type="widget"
                                        data-widget_type="Atar_Choose_Two.default">
                                        <div class="elementor-widget-container">

                                            <div
                                                class="why-choose-area atar-white bg-f8f4f9 position-relative z-1 pt-120 pb-95">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            WHY ATAR BEST </span>
                                                        <h2 class="mb-0 ms-auto me-auto mw-800">
                                                            Why is Atar the best AI chatbot software for website? </h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose4.jpg', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    <span>Self-service AI chatbots with a human
                                                                        element</span>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <h3>
                                                                    <span>Codeless drag-and-drop chatbot builder</span>
                                                                </h3>
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose5.jpg', decoding: "async") %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose6.jpg', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    <span>Integrations with top AI platforms</span>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <h3>
                                                                    <span>SmartBot with a one-time license</span>
                                                                </h3>
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose7.jpg', decoding: "async") %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bg-shape position-absolute z-n1"></div>
                                            </div>
                                            <!-- End Fun Facts Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-156714f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="156714f" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-03188c2"
                                data-id="03188c2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-b191aff elementor-widget elementor-widget-Atar_Partner"
                                        data-id="b191aff" data-element_type="widget"
                                        data-widget_type="Atar_Partner.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Brands Area -->
                                            <div class="brands-area atar-white">
                                                <div class="container">
                                                    <div class="swiper brandsSwiper">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand8.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand9.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand10.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand11.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand12.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand13.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand8.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand10.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand14.png', decoding: "async") %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="brands-section-title mb-0 text-center">
                                                        <span class="d-block fw-semibold">
                                                            Trusted by 1000+ global brands </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Brands Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-bec7a01 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="bec7a01" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-80393f8"
                                data-id="80393f8" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-baab0c8 elementor-widget elementor-widget-Atar_Automation"
                                        data-id="baab0c8" data-element_type="widget"
                                        data-widget_type="Atar_Automation.default">
                                        <div class="elementor-widget-container">

                                            <div class="automation-area ptb-120 atar-white position-relative z-1">
                                                <div class="container">
                                                    <div class="row" data-cues="slideInUp">
                                                        <div class="col-xl-3 col-lg-3 col-md-12">
                                                            <div class="automation-content">
                                                                <span class="sub-title d-block fw-medium">
                                                                    AUTOMATION </span>
                                                                <h2>
                                                                    Automate the conversations with the power of AI
                                                                </h2>
                                                                <a href="https://themes.hibotheme.com/atar/contact-us/"
                                                                    class="default-btn two">
                                                                    Try Atar Chatbot <i class="flaticon-next"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-5 col-md-12">
                                                            <div class="automation-image text-center">
                                                                <video autoplay loop muted playsinline>
                                                                    <source src="../images/atar/automation.m4v"
                                                                        type="video/mp4">
                                                                </video>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-md-12">
                                                            <div class="automation-text">
                                                                <div class="shape5">
                                                                    <%= vite_image_tag('images/atar/shape5.png', decoding: "async") %>
                                                                </div>
                                                                <p>Atar Chatbot is a complete customer service platform
                                                                    that delights your customers and fuels your sales.
                                                                </p>
                                                                <p>Lorem ipsum dolor sit amet consectetur. Suspendisse
                                                                    quam nisl enim vitae elementum. Tellus tincidunt in
                                                                    congue.</p> <a 
                                                                    class="link-btn d-inline-block position-relative fw-medium text-decoration-none">
                                                                    Explore More <i class="flaticon-next"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shape7 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-61cdac7 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="61cdac7" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0f84370"
                                data-id="0f84370" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-02a129b elementor-widget elementor-widget-Atar_Features"
                                        data-id="02a129b" data-element_type="widget"
                                        data-widget_type="Atar_Features.default">
                                        <div class="elementor-widget-container">

                                            <div class="features-area pb-95 atar-white">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            TOP FEATURES </span>
                                                        <h2 class="mb-0 ms-auto me-auto">
                                                            Special features of Atar that make it unique </h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature1.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Responsible AI from day one </h3>
                                                                <p>Reduce risk of bias by partnering with the best
                                                                    founders, spearheading standards and certifications
                                                                    for AI.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature2.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Human optimization at scale </h3>
                                                                <p>Keep conversations grounded, factual, and relevant to
                                                                    your industry with over 350K skilled humans in the
                                                                    loop.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature3.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Impactful insights made easy </h3>
                                                                <p>Accelerate better decision making with access to
                                                                    enterprise-level analytics and reporting the
                                                                    insights automatically.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature4.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Unrivaled data at your fingertips </h3>
                                                                <p>Augment large language models with the world’s
                                                                    largest enterprise data set for more precise natural
                                                                    language processing.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-a0e80dc elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="a0e80dc" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6be4f1e"
                                data-id="6be4f1e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bed9b5a elementor-widget elementor-widget-Atar_Video"
                                        data-id="bed9b5a" data-element_type="widget"
                                        data-widget_type="Atar_Video.default">
                                        <div class="elementor-widget-container">

                                            <div class="video-area position-relative z-1 atar-white">
                                                <div class="container">
                                                    <div class="section-title">
                                                        <span class="sub-title d-block fw-medium">
                                                            WATCH VIDEO </span>
                                                        <h2 class="mb-0 mw-820">
                                                            We have the most easy no-code chatbot support, watch video
                                                        </h2>
                                                    </div>
                                                    <div class="video-box text-center position-relative"
                                                        data-cue="slideInUp">
                                                        <%= vite_image_tag('images/atar/video.jpg', decoding: "async") %>
                                                        <a data-fslightbox="video" target="_blank"
                                                            class="video-btn text-decoration-none"
                                                            href="https://www.youtube.com/watch?v=DBHBmeNhYrY">
                                                            <i class="flaticon-play-button-arrowhead"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="shape6 position-absolute z-n1" id="shape6">
                                                    <%= vite_image_tag('images/atar/shape6.png', decoding: "async") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-27fd749 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="27fd749" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a6bbefc"
                                data-id="a6bbefc" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-54dd8d5 elementor-widget elementor-widget-Atar_Funfact_Two"
                                        data-id="54dd8d5" data-element_type="widget"
                                        data-widget_type="Atar_Funfact_Two.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Fun Facts Area -->
                                            <div class="funfacts-area atar-white pt-120 pb-95 position-relative z-1">
                                                <div class="container">
                                                    <div class="d-flex justify-content-between">
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="shape">
                                                                <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                            </div>
                                                            <div class="number fw-bold">
                                                                575 M+ </div>
                                                            <span>CHATS MONTHLY</span>
                                                        </div>
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="shape">
                                                                <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                            </div>
                                                            <div class="number fw-bold">
                                                                150+ </div>
                                                            <span>COUNTRIES</span>
                                                        </div>
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="shape">
                                                                <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                            </div>
                                                            <div class="number fw-bold">
                                                                100K+ </div>
                                                            <span>SUPPORT REPS</span>
                                                        </div>
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="number fw-bold">
                                                                90% </div>
                                                            <span>AUTOMATION</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="funfacts-shape1 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                </div>
                                                <div class="funfacts-shape2 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                </div>
                                            </div>
                                            <!-- End Fun Facts Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e5fc120 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="e5fc120" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-54bb699"
                                data-id="54bb699" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-0dc05f7 elementor-widget elementor-widget-Atar_Testimonials"
                                        data-id="0dc05f7" data-element_type="widget"
                                        data-widget_type="Atar_Testimonials.default">
                                        <div class="elementor-widget-container">

                                            <div class="testimonials-area position-relative z-1 atar-white">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-6"></div>
                                                        <div class="col-lg-6">
                                                            <div class="section-title">
                                                                <span class="sub-title d-block fw-medium">
                                                                    TESTIMONIALS </span>
                                                                <h2 class="mb-0">
                                                                    Our customers say it the best </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper testimonialsSwiper">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user2.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Angela Carter</h3>
                                                                            <span class="d-block">CEO, 3S
                                                                                Solution</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold">I use Atar on my domain
                                                                        landing pages and ❤️ their service! Much better
                                                                        than having a phone number that prospects can
                                                                        call, while still providing the instant
                                                                        response.</p>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user3.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Jonathon Ronan</h3>
                                                                            <span class="d-block">CEO, Solit IT
                                                                                Solution</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold">The Atar chatbot facility on
                                                                        our website makes it even easier to gain the
                                                                        information you need, rapidly. If you have any
                                                                        questions, just ask our agents for an instant
                                                                        response.</p>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user4.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Victor James</h3>
                                                                            <span class="d-block">Project Manager,
                                                                                Varn</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold">If your company is growing
                                                                        fast and you have great website traffic. Don’t
                                                                        neglect your website chat. It’s a great way to
                                                                        engage prospects and qualify them without having
                                                                        to get on a call.</p>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user5.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Alina Smith</h3>
                                                                            <span class="d-block">Web Developer,
                                                                                Eidev</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold"> use Atar on my domain
                                                                        landing pages and ❤️ their service! Much better
                                                                        than having a phone number that prospects can
                                                                        call, while still providing the instant
                                                                        response.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="swiper-button-prev">
                                                                <i class="ri-arrow-left-line"></i>
                                                            </div>
                                                            <div class="swiper-button-next">
                                                                <i class="ri-arrow-right-line"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shape">
                                                    <%= vite_image_tag('images/atar/border.png', decoding: "async") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-0222ed4 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="0222ed4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d693273"
                                data-id="d693273" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-5f1c7ab elementor-widget elementor-widget-Atar_Integration"
                                        data-id="5f1c7ab" data-element_type="widget"
                                        data-widget_type="Atar_Integration.default">
                                        <div class="elementor-widget-container">

                                            <div class="integration-area atar-white ptb-120">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            INTEGRATION </span>
                                                        <h2 class="mb-0 ms-auto me-auto mw-800">
                                                            An Omnichannel Conversational Chatbot </h2>
                                                    </div>
                                                    <div
                                                        class="integration-box text-center position-relative ms-auto me-auto">
                                                        <%= vite_image_tag('images/atar/integration-border.png', decoding: "async") %>
                                                        <div class="cube">
                                                        <%= vite_image_tag('images/atar/cube.png', decoding: "async") %>
                                                        </div>
                                                        <div class="list">
                                                            <div>
                                                                <%= vite_image_tag('images/atar/dropbox.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/messages.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/instagram.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/github.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/twitter.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/slack.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/messenger.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/website.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/whatsapp.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/gmail.svg', decoding: 'async') %>
                                                            </div>
                                                        </div>
                                                        <div class="atar-border">
                                                            <%= vite_image_tag('images/atar/border-1.png', decoding: 'async') %>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="integration-content position-relative z-1 ms-auto me-auto">
                                                        <div class="row justify-content-center">
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div class="box position-relative">
                                                                    <i class="flaticon-tick"></i>
                                                                    <p class="fw-semibold">Maximize team performance
                                                                        with actionable insights</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div class="box position-relative">
                                                                    <i class="flaticon-tick"></i>
                                                                    <p class="fw-semibold">Stop switching between tools
                                                                        and speed up workflows</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div class="box position-relative">
                                                                    <i class="flaticon-tick"></i>
                                                                    <p class="fw-semibold">See all your data in one
                                                                        place without switching tools.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-00658cc elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="00658cc" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0f462fb"
                                data-id="0f462fb" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-a970454 elementor-widget elementor-widget-Atar_Pricing"
                                        data-id="a970454" data-element_type="widget"
                                        data-widget_type="Atar_Pricing.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Pricing Area -->
                                            <div class="pricing-area atar-white position-relative z-1 pb-95">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-xl-3 col-lg-12 col-sm-12">
                                                            <div class="section-title">
                                                                <span class="sub-title d-block fw-medium">
                                                                    PRICING </span>
                                                                <h2 class="mb-0">
                                                                    We have plans for big and small companies </h2>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                                            <div class="single-pricing-box position-relative z-1 mb-25">
                                                                <div class="pricing-header">
                                                                    <h3 class="fw-semibold d-inline-block">Starter</h3>
                                                                    <div class="price lh-1">
                                                                        <div class="fw-bold d-inline-block">$20</div>
                                                                        <span>/Month</span>
                                                                    </div>
                                                                    <p>
                                                                        billed annually <br> or <span
                                                                            class="fw-bold">$24</span> month-to-month
                                                                    </p>
                                                                </div>
                                                                <div class="pricing-features">
                                                                    <ul class="ps-0 mb-0 list-unstyled">
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            60 day chat history
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic widget customization
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Ticketing system
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Data security
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic reporting
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Agent groups
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Multiple brandings
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Software engineer support
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Security assistant
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-footer text-center">
                                                                    <a  class="default-btn two">
                                                                        Choose Plan <i class="flaticon-next"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                                            <div class="single-pricing-box position-relative z-1 mb-25">
                                                                <div class="pricing-header">
                                                                    <h3 class="fw-semibold d-inline-block">Team</h3>
                                                                    <div class="price lh-1">
                                                                        <div class="fw-bold d-inline-block">$41</div>
                                                                        <span>/Month</span>
                                                                    </div>
                                                                    <p>
                                                                        billed annually <br> or <span
                                                                            class="fw-bold">$54</span> month-to-month
                                                                    </p>
                                                                </div>
                                                                <div class="pricing-features">
                                                                    <ul class="ps-0 mb-0 list-unstyled">
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            100 day chat history
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic widget customization
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Ticketing system
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Data security
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic reporting
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Agent groups
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Multiple brandings
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Software engineer support
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Security assistant
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-footer text-center">
                                                                    <a  class="default-btn two">
                                                                        Choose Plan <i class="flaticon-next"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                                            <div class="single-pricing-box position-relative z-1 mb-25">
                                                                <div class="pricing-header">
                                                                    <h3 class="fw-semibold d-inline-block">Business</h3>
                                                                    <div class="price lh-1">
                                                                        <div class="fw-bold d-inline-block">$59</div>
                                                                        <span>/Month</span>
                                                                    </div>
                                                                    <p>
                                                                        billed annually <br> or <span
                                                                            class="fw-bold">$74</span> month-to-month
                                                                    </p>
                                                                </div>
                                                                <div class="pricing-features">
                                                                    <ul class="ps-0 mb-0 list-unstyled">
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            200 day chat history
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic widget customization
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Ticketing system
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Data security
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic reporting
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Agent groups
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Multiple brandings
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Software engineer support
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Security assistant
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-footer text-center">
                                                                    <a  class="default-btn two">
                                                                        Choose Plan <i class="flaticon-next"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shape6 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape6.png', decoding: "async") %>
                                                </div>
                                            </div>
                                            <!-- End Pricing Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-aea2f35 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="aea2f35" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2b3e2f0"
                                data-id="2b3e2f0" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-07f3df7 elementor-widget elementor-widget-Atar_Chatbot_Two"
                                        data-id="07f3df7" data-element_type="widget"
                                        data-widget_type="Atar_Chatbot_Two.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Chatbot Area -->
                                            <div class="chatbot-area atar-white">
                                                <div class="container">
                                                    <div class="chatbot-inner-box style-two"
                                                        style="background-image:url(<%= vite_asset_path("images/atar/chatbot-bg.png") %>);">
                                                        <div class="row align-items-center">
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="content">
                                                                    <span class="sub-title d-block fw-medium">
                                                                        TRY OTHER PRODUCTS </span>
                                                                    <h2>
                                                                        We also have AI Image generator for you </h2>
                                                                    <a href="https://themes.hibotheme.com/atar/contact-us/"
                                                                        class="default-btn two">
                                                                        Try Now <i class="flaticon-plus-1"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="image text-center text-lg-end position-relative">
                                                                    <%= vite_image_tag('images/atar/chatbot2.png', decoding: "async") %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Chatbot Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-a1103c4 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="a1103c4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cb4fc60"
                                data-id="cb4fc60" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-806b15e elementor-widget elementor-widget-Atar_Post"
                                        data-id="806b15e" data-element_type="widget"
                                        data-widget_type="Atar_Post.default">
                                        <div class="elementor-widget-container">
                                            <!-- Start Blog Area -->
                                            <div class="blog-area atar-white pt-120 pb-70 position-relative z-1">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            BLOG &amp; ARTICLE </span>
                                                        <h2 class="mb-0 ms-auto me-auto">
                                                            Read our news &amp; article about AI </h2>
                                                    </div>
                                                    <div class="row justify-content-center blog-items">

                                                        <div class="col-lg-4 col-sm-6 col-md-6">
                                                            <div class="single-blog-post">
                                                                <a href="https://themes.hibotheme.com/atar/2023/08/03/art-are-now-linked-with-best-ai-technology-to-explore/"
                                                                    class="image d-block">
                                                                    <%= vite_image_tag('images/atar/blog3.jpg', decoding: "async") %>
                                                                </a>
                                                                <div class="content">
                                                                    <ul class="meta ps-0 list-unstyled">
                                                                        <li
                                                                            class="d-inline-block position-relative fw-medium">
                                                                            <a
                                                                                href="https://themes.hibotheme.com/atar/category/tech/">TECH
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <h3>
                                                                        <a href="https://themes.hibotheme.com/atar/2023/08/03/art-are-now-linked-with-best-ai-technology-to-explore/"
                                                                            class="text-decoration-none">
                                                                            Art are now linked with best AI technology
                                                                            to explore </a>
                                                                    </h3>
                                                                    <span class="date d-block">August 3, 2023</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-6 col-md-6">
                                                            <div class="single-blog-post">
                                                                <a href="https://themes.hibotheme.com/atar/2023/08/03/creating-digital-art-with-the-help-of-ai-is-a-new-trend/"
                                                                    class="image d-block">
                                                                    <%= vite_image_tag('images/atar/blog2.jpg', decoding: "async") %>
                                                                </a>
                                                                <div class="content">
                                                                    <ul class="meta ps-0 list-unstyled">
                                                                        <li
                                                                            class="d-inline-block position-relative fw-medium">
                                                                            <a
                                                                                href="https://themes.hibotheme.com/atar/category/tech/">TECH
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <h3>
                                                                        <a href="https://themes.hibotheme.com/atar/2023/08/03/creating-digital-art-with-the-help-of-ai-is-a-new-trend/"
                                                                            class="text-decoration-none">
                                                                            Creating digital art with the help of AI is
                                                                            a new trend </a>
                                                                    </h3>
                                                                    <span class="date d-block">August 3, 2023</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-6 col-md-6">
                                                            <div class="single-blog-post">
                                                                <a href="https://themes.hibotheme.com/atar/2023/08/03/how-ai-helps-in-space-research-in-this-era/"
                                                                    class="image d-block">
                                                                    <%= vite_image_tag('images/atar/blog1.jpg', decoding: "async") %>
                                                                </a>
                                                                <div class="content">
                                                                    <ul class="meta ps-0 list-unstyled">
                                                                        <li
                                                                            class="d-inline-block position-relative fw-medium">
                                                                            <a
                                                                                href="https://themes.hibotheme.com/atar/category/tech/">TECH
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <h3>
                                                                        <a href="https://themes.hibotheme.com/atar/2023/08/03/how-ai-helps-in-space-research-in-this-era/"
                                                                            class="text-decoration-none">
                                                                            How AI helps in space research in this era
                                                                        </a>
                                                                    </h3>
                                                                    <span class="date d-block">August 3, 2023</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Blog Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- .entry-content -->


    </div>

</div>