<div class="page-wrapper">
    <div class="page-area">
            <div class="entry-content">
            
                <%= render partial: 'home/shared/hero_banner' %>
                <%= render partial: 'home/shared/introduce'%>
                <%= render partial: 'home/shared/brands'%>
                <%= render partial: 'home/shared/automate'%>
                <%= render partial: 'home/shared/top_features'%>
                <%= render partial: 'home/shared/wath_video'%>
                <%= render partial: 'home/shared/view'%>
                <%= render partial: 'home/shared/testimonials'%>
                <%= render partial: 'home/shared/integration'%>
                <%= render partial: 'home/shared/pricing'%>
                <%= render partial: 'home/shared/products'%>
                <%= render partial: 'home/shared/blog'%>
                
            </div><!-- .entry-content -->

    </div>

</div>