<div class="elementor-section elementor-top-section elementor-element elementor-element-156714f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="156714f" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-03188c2"
                                data-id="03188c2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-b191aff elementor-widget elementor-widget-Atar_Partner"
                                        data-id="b191aff" data-element_type="widget"
                                        data-widget_type="Atar_Partner.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Brands Area -->
                                            <div class="brands-area atar-white">
                                                <div class="container">
                                                    <div class="swiper brandsSwiper">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand8.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand9.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand10.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand11.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand12.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand13.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand8.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand10.png', decoding: "async") %>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <%= vite_image_tag('images/atar/brand14.png', decoding: "async") %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="brands-section-title mb-0 text-center">
                                                        <span class="d-block fw-semibold">
                                                            Trusted by 1000+ global brands </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Brands Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>