<div class="elementor-section elementor-top-section elementor-element elementor-element-d8268f5 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="d8268f5" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-77ea851"
            data-id="77ea851" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-103293b elementor-widget elementor-widget-Atar_Banner_Two"
                    data-id="103293b" data-element_type="widget"
                    data-widget_type="Atar_Banner_Two.default">
                    <div class="elementor-widget-container">

                        <div class="main-banner-area position-relative z-1 pt-100 pb-120 atar-white"
                            style="background-image:url(<%= vite_asset_path("images/atar/dot-bg-1.png") %>);">
                            <div class="container-fluid">
                                <div class="row align-items-center align-items-xl-end">
                                    <div class="col-lg-5 col-md-12">
                                        <div
                                            class="main-banner-image text-center position-relative">
                                            <%= vite_image_tag('images/atar/banner21.jpg') %>
                                                <div
                                                    class="box d-flex align-items-center text-start">
                                                        <%= vite_image_tag('images/atar/user1-1.jpg', decoding: 'async', class: "rounded-circle") %>
                                                    <span class="d-block">Hello! I’m Atar.</span>
                                                </div>
                                                <div class="typewriter text-start">
                                                    <span class="typewrite" data-period="2000" data-type='[ "Your AI assistant. How can I help you?" ]'>
                                                        <span class="wrap"></span>
                                                    </span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-12">
                                        <div class="main-banner-content">
                                            <h1>
                                                A Comprehensive AI Chatbot Solution to Meet Your
                                                Requirements </h1>
                                            <div>
                                                <p>
                                                    Atar Chatbot is a complete customer service
                                                    platform that delights your customers and fuels
                                                    your sales. </p>
                                                <a href="https://themes.hibotheme.com/atar/contact-us/"
                                                    class="default-btn two">
                                                    View Demo <i class="flaticon-next"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shape3 position-absolute z-n1">
                                <%= vite_image_tag('images/atar/shape3.png', decoding: "async") %>
                            </div>
                            <div class="shape4 position-absolute z-n1">
                                <%= vite_image_tag('images/atar/shape4.png', decoding: "async") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>