                    <div class="elementor-section elementor-top-section elementor-element elementor-element-0222ed4 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="0222ed4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d693273"
                                data-id="d693273" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-5f1c7ab elementor-widget elementor-widget-Atar_Integration"
                                        data-id="5f1c7ab" data-element_type="widget"
                                        data-widget_type="Atar_Integration.default">
                                        <div class="elementor-widget-container">

                                            <div class="integration-area atar-white ptb-120">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            INTEGRATION </span>
                                                        <h2 class="mb-0 ms-auto me-auto mw-800">
                                                            An Omnichannel Conversational Chatbot </h2>
                                                    </div>
                                                    <div
                                                        class="integration-box text-center position-relative ms-auto me-auto">
                                                        <%= vite_image_tag('images/atar/integration-border.png', decoding: "async") %>
                                                        <div class="cube">
                                                        <%= vite_image_tag('images/atar/cube.png', decoding: "async") %>
                                                        </div>
                                                        <div class="list">
                                                            <div>
                                                                <%= vite_image_tag('images/atar/dropbox.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/messages.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/instagram.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/github.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/twitter.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/slack.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/messenger.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/website.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/whatsapp.svg', decoding: 'async') %>
                                                            </div>
                                                            <div>
                                                                <%= vite_image_tag('images/atar/gmail.svg', decoding: 'async') %>
                                                            </div>
                                                        </div>
                                                        <div class="atar-border">
                                                            <%= vite_image_tag('images/atar/border-1.png', decoding: 'async') %>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="integration-content position-relative z-1 ms-auto me-auto">
                                                        <div class="row justify-content-center">
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div class="box position-relative">
                                                                    <i class="flaticon-tick"></i>
                                                                    <p class="fw-semibold">Maximize team performance
                                                                        with actionable insights</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div class="box position-relative">
                                                                    <i class="flaticon-tick"></i>
                                                                    <p class="fw-semibold">Stop switching between tools
                                                                        and speed up workflows</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div class="box position-relative">
                                                                    <i class="flaticon-tick"></i>
                                                                    <p class="fw-semibold">See all your data in one
                                                                        place without switching tools.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>