                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e5fc120 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="e5fc120" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-54bb699"
                                data-id="54bb699" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-0dc05f7 elementor-widget elementor-widget-Atar_Testimonials"
                                        data-id="0dc05f7" data-element_type="widget"
                                        data-widget_type="Atar_Testimonials.default">
                                        <div class="elementor-widget-container">

                                            <div class="testimonials-area position-relative z-1 atar-white">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-6"></div>
                                                        <div class="col-lg-6">
                                                            <div class="section-title">
                                                                <span class="sub-title d-block fw-medium">
                                                                    TESTIMONIALS </span>
                                                                <h2 class="mb-0">
                                                                    Our customers say it the best </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper testimonialsSwiper">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user2.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Angela Carter</h3>
                                                                            <span class="d-block">CEO, 3S
                                                                                Solution</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold">I use Atar on my domain
                                                                        landing pages and ❤️ their service! Much better
                                                                        than having a phone number that prospects can
                                                                        call, while still providing the instant
                                                                        response.</p>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user3.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Jonathon Ronan</h3>
                                                                            <span class="d-block">CEO, Solit IT
                                                                                Solution</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold">The Atar chatbot facility on
                                                                        our website makes it even easier to gain the
                                                                        information you need, rapidly. If you have any
                                                                        questions, just ask our agents for an instant
                                                                        response.</p>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user4.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Victor James</h3>
                                                                            <span class="d-block">Project Manager,
                                                                                Varn</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold">If your company is growing
                                                                        fast and you have great website traffic. Don’t
                                                                        neglect your website chat. It’s a great way to
                                                                        engage prospects and qualify them without having
                                                                        to get on a call.</p>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div
                                                                    class="single-testimonial-box position-relative z-1">
                                                                    <div class="client-info d-flex align-items-center">
                                                                        <%= vite_image_tag('images/atar/user5.jpg', decoding: "async") %>
                                                                        <div>
                                                                            <h3>Alina Smith</h3>
                                                                            <span class="d-block">Web Developer,
                                                                                Eidev</span>
                                                                        </div>
                                                                    </div>
                                                                    <p class="fw-semibold"> use Atar on my domain
                                                                        landing pages and ❤️ their service! Much better
                                                                        than having a phone number that prospects can
                                                                        call, while still providing the instant
                                                                        response.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="swiper-button-prev">
                                                                <i class="ri-arrow-left-line"></i>
                                                            </div>
                                                            <div class="swiper-button-next">
                                                                <i class="ri-arrow-right-line"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shape">
                                                    <%= vite_image_tag('images/atar/border.png', decoding: "async") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>