                    <div class="elementor-section elementor-top-section elementor-element elementor-element-27fd749 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="27fd749" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a6bbefc"
                                data-id="a6bbefc" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-54dd8d5 elementor-widget elementor-widget-Atar_Funfact_Two"
                                        data-id="54dd8d5" data-element_type="widget"
                                        data-widget_type="Atar_Funfact_Two.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Fun Facts Area -->
                                            <div class="funfacts-area atar-white pt-120 pb-95 position-relative z-1">
                                                <div class="container">
                                                    <div class="d-flex justify-content-between">
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="shape">
                                                                <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                            </div>
                                                            <div class="number fw-bold">
                                                                575 M+ </div>
                                                            <span>CHATS MONTHLY</span>
                                                        </div>
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="shape">
                                                                <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                            </div>
                                                            <div class="number fw-bold">
                                                                150+ </div>
                                                            <span>COUNTRIES</span>
                                                        </div>
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="shape">
                                                                <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                            </div>
                                                            <div class="number fw-bold">
                                                                100K+ </div>
                                                            <span>SUPPORT REPS</span>
                                                        </div>
                                                        <div
                                                            class="single-funfact-item mb-25 position-relative text-center">
                                                            <div class="number fw-bold">
                                                                90% </div>
                                                            <span>AUTOMATION</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="funfacts-shape1 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                </div>
                                                <div class="funfacts-shape2 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                </div>
                                            </div>
                                            <!-- End Fun Facts Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>