<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %>Chatbot SDK</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= vite_javascript_tag 'chatbot' %>
    <%= vite_stylesheet_tag 'stylesheets/chatbot.scss', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
